/*
Main stylesheet called style.css
Written by Sam Katz working for Cheer Up Madison 
smkatz@gmail.com
*/

@font-face {
	font-family: "kidsboardgamefont.ttf";
	src: url("<./assets/fonts/kidsboardgamefont.ttf>");
}
@font-face {
	font-family: "Luna";
	src: url("/assets/fonts/Luna.ttf");
}
@font-face {
	font-family: "MFPKidnapped.ttf"
	src: url("/assets/fonts/Luna.ttf");
}





p {

}

h1 {

}



body {
background:url(assets/img/backgroundColors.svg);
width: 100%;
/* original code from stackoverflow had a display selector, which I excluded.*/

margin: 0px;
padding: 0px;
position: relative;
top: 90px;
height: auto;
max-width: auto;
overflow-y: hidden;
overflow-x:auto;

}

nav#images {
display:inline; }
nav#images li { float: left; width: 12em; }

McFarland, David Sawyer. CSS3: The Missing Manual (Kindle Locations 7378-7379). O'Reilly Media. Kindle Edition. 
}

.nav {


}

.logo {
/* padding:30%,30%,30%,30%; */
}

/* 
 img {/*  .cranky .sad .family */ /*allows it to act on img alone.*/
	text-align:center;
	/* border:20px; */
	margin:3em;

	display: inline;
margin: 0px;
padding: 0px;
	
	
	white-space:nowrap;

 */
 */
 
 ul {
 list-style-type: none;
 }
 
 

	



.footer {

}