/*
Main stylesheet called style.css
Written by Sam Katz working for Cheer Up Madison 
smkatz@gmail.com
*/

h1 {

}



body {
background:url(assets/img/backgroundColors.svg);
}

nav {


}

#crankymeter {
	align-text:center;
	padding:;
}