/*
Main stylesheet called style.css
Written by Sam Katz working for Cheer Up Madison 
smkatz@gmail.com
*/

@font-face {
	font-family: "kidsboardgamefont.ttf";
	src: url("<./assets/fonts/kidsboardgamefont.ttf>");
}
@font-face {
	font-family: "Luna";
	src: url("/assets/fonts/Luna.ttf");
}
@font-face {
	font-family: "MFPKidnapped.ttf"
	src: url("/assets/fonts/Luna.ttf");
}





p {

}

h1 {

}



body {
background:url(assets/img/backgroundColors.svg);
width: 100%;
}

.nav {


}

.logo {
padding:30%,30%,30%,30%;
}

 img {/*  .cranky .sad .family */
	text-align:center;
	/* border:20px; */
	margin:3em;
	display:inline;
	/* 
padding-right: 221PX;
 */
 
 ul {
 list-style-type: none;
 }

	
}


.footer {

}